.horizontal {
    border-top: 1px solid lightgray;
}

.hrzl {
    border-top: 1px solid lightgray;
    width: 90%;
    clear: both;
}

.Header h1 {
    text-align: left;
    font-weight: 600;
    color: gray;
    margin: 20px 30px 0px 50px;
    float: left;
}

.Header button{
    margin: 20px 70px 20px;
    font-size: 1.3em;
    border: 1px solid lightgray;
    background: whitesmoke;
    color: gray;
    padding: 0px 10px;
    height: 40px;
    border-radius: 5px;
    float: right;
}

.Header button:hover {
    background: rgb(226, 224, 224);
}