.Course button{
    padding: 5px 30px;
    height: 40px;
    text-align: center;
    background: whitesmoke;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 0.9em;
    display: flex;
}

.Course button i {
    font-size: 1.3em;
    padding: 5px;
    flex: 1;
}

.Course button p {
    padding: 2.5px;
}

.Course{
    display: inline-block;
}

.Course button:hover {
    text-decoration: underline;
    background: rgb(4, 59, 4);
    color: whitesmoke;
}
